

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
  }
.navbar{
    padding: 0 2rem;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    
    
}
nav li a{
    color: #000;
} 
.btn {
    border: none;
    outline: none;
    color: black;
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    display: none;
  
  }
  
.btn i {
    font-size: 2rem;
  }
 /* .logo{
    font-size: 100px;
  } */

@media only screen and (max-width: 1024px) {
    .btn {
      visibility: visible;
      opacity: 1;
      display: block;
    }
  
    .navbar nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      z-index: 5;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;
      transform: translateY(-100vh);
      
    }
   .text{
    color: #fff;
    font-size: 22px;
    cursor: pointer;

   }
   .text:hover{
    color: #0575E6;  ;
   }
  
    .navbar .toggleNavbar {
      background-color: #1b263b;
      transform: none;
    }
    .btnMenu{
      cursor: pointer;
    }
    nav li a{
        color: #fff
    } 
    .btnClose {
      position: absolute;
      top: 1.2rem;  
      right: 1.5rem;
      width: 50px;
      font: normal;
      padding: 5px;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
    .btnMenu{
      font-size: 30px;
      background-color: transparent;
      right: 1rem;
      border: none;
      
    }
    .close{
      font: 30px ;
      font-weight: bolder;
      width: 50px;
    }
  }



